/*road map*/

html {
    background: #000;
    height: 100%;
}
body {
    background: #67c2f6;
    max-width: 500px;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    /*padding-bottom: 20px;*/
    overflow-x: hidden;
}
a {
    outline: 0;
}
a:link {
    outline: 0;
}
a {
    text-decoration: none
}
a:active {
    outline: none;
    text-decoration: none
}
a:visited {
    outline: 0;
}
a:hover {
    outline: 0;
}
a:active {
    outline: 0;
}
.modal .modal-inner {
    width: 90%;
    height: 100%;
    max-width: 500px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    background-clip: padding-box;
}
.msg {
    position: relative
}
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.close-icon img {
    width: 100%;
    display: block
}
.role-html {
    padding: 20px
}
.role-html h1 {
    font-size: 1.2em;
    color: #ff7200;
    font-weight: 100;
    margin: 40px auto 20px 0
}
.role-html .article {
    text-indent: 0em
}
.role-html h3 {
    text-align: left;
    margin: 20px 0
}
.role-section {
    text-align: left;
    margin: 20px 0
}
.role-item {
    margin: 5px 0
}

.btn-wrap {
    margin: 10px 0;
    text-align: center;
}

.btn{
     display: inline-block;
    padding: 5px 0;
    width: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    background: #5ad534;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid #319d0f;
    box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -webkit-box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -moz-box-shadow: inset 0px 2px 0px 0px #81fa5b;
}

/*Game map*/
#gamemap .wrap {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.banner-wrap {
    padding: 10px;
}
.banner-wrap img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
/*.banner-wrap */

.title {
    margin-top: 20px;
    color: #fffa75;
    text-align: center;
    text-shadow: 0 0 3px #0000ff;
}
.banner-wrap .desc {
    font-size: 0.5em;
    color: #000;
    text-align: center;
    margin-top: 12px;
    padding: 0 15px;
}
.tip-wrap {
    text-align: left;
    color: #000;
    line-height: 30px;
    padding: 0 20px;
    overflow: hidden;
}
.tip-text{
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    font-size: 9pt;
}
.tip-score-desc{
    color: yellow;
    font-size: 11pt;
    display: inline-block;
    padding-bottom: 7px;

}
.tip-score-desc img{
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.tip-detail {
    font-size: 8pt;
}
.tip-rule{
    display: inline-block;
    line-height: 50px;
    text-align: right;
    text-decoration: underline;
    float: right;
    margin-right: 20px;
}

/*.result-btn {
    display: inline-block;
    padding: 5px 0;
    width: 60%;
    border-radius: 10px;
    background: url("../images/btn-bottom.png") no-repeat bottom center #5ad534;
    background-size: contain;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 1px #45bb20;
    cursor: pointer;
    overflow: hidden;
    background-clip: padding-box;
}*/

.result-btn {
    display: inline-block;
    padding: 5px 0;
    width: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    background: #5ad534;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid #319d0f;
    box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -webkit-box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -moz-box-shadow: inset 0px 2px 0px 0px #81fa5b;
}
.reward-btn {
    display: inline-block;
    padding: 5px 0;
    width: 30%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    background: #5ad534;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid #319d0f;
    box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -webkit-box-shadow: inset 0px 2px 0px 0px #81fa5b;
    -moz-box-shadow: inset 0px 2px 0px 0px #81fa5b;
    margin-left: 10px;
}
.detail {
    color: #000;
    border-bottom: 1px solid #000
}
.map {
    position: relative;
    overflow: hidden;
}
.map-img {
    display: block;
    /*width: 668px;*/
    
    width: 80%;
    margin: 0 auto;
}
.circular {
    width: 50px;
    border: 0;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.map .level-wrap {
    position: relative;
}
.level {
    position: absolute;
}
.level .score {
    background: url('../images/bg_number.png') no-repeat bottom left;
    background-size: cover;
}
.going {
    background: url('../images/bg_orange.png') no-repeat bottom left;
    background-size: contain;
}
.coming {
    background: url('../images/bg_blue.png') no-repeat bottom left;
    background-size: cover;
}
/*rank*/

#gamerank {
    display: none;
    position: relative;
}
.close {
    /*position: fixed;*/
    top: 5px;
    right: 10px;
    float: right;
    margin-right: 20px;
}
#gamerank .wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 35px;
}
.myRank {} .rank-star {
    display: inline-block;
    width: 45px;
    vertical-align: middle;
    top: -10px;
    left: 0;
    position: absolute;
}
.rank-people {
    margin-top: 0;
    text-shadow: 0 0 1px #45bb20;
}
.rank-point {
    background-color: #3ba4df;
    height: 35px;
    width: 200px;
    border-radius: 85px;
    margin: 15px auto;
    position: relative;
    color: yellow;
    font-size: 12pt;
    text-align: center;
    line-height: 35px;
}
.topHeader {
    color: yellow;
    margin: 5px auto;
    text-align: center;
}
.rank-list {} .rank-list .top img {
    display: block;
    width: 95%;
    margin: 0 auto;
}
.rank-list .content {
    width: 95%;
    display: block;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 12px;
}
.rank-list .bottom img {
    display: block;
    width: 95%;
    margin: 0 auto;
}
ul {
    margin: 0 0px
}
.rank ul li {
    margin: 0;
    padding: 10px;
    height: 50px;
    text-align: left;
    line-height: 50px;
}
.rank-number {
    font-weight: bold;
    margin-right: 10px;
    width: 20px;
    display: inline-block;
}
.rank-icon {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}
.rank-name {
    display: inline-block;
    margin-left: 5px;
    max-width: 200px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank-score {
    float: right;
    margin-right: 15px;
}
.rank li div {
    height: 50px
}
.more-btn-wrap {
    text-align: center;
    margin-top: 12px;
    position: relative;
}
.iknow-btn {
    outline: none;
    display: inline-block;
    padding: 5px 0;
    width: 60%;
    border-radius: 10px;
    background: url("../images/btn-bottom.png") no-repeat bottom center #5ad534;
    background-size: contain;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 1px #45bb20;
    cursor: pointer;
    overflow: hidden;
    background-clip: padding-box;
}
.opacity0 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.opacity1 {
    opacity: 1;
    -webkit-opacity: 1;
}

.reminder-wrap{
    text-align: left;
    padding: 20px 20px 0 20px;
}
.reminder-text span{
    text-decoration: underline;
}
.reminder-btn-wrap{
    text-align: center;
    padding: 10px 0;
}
.reminder-btn-wrap a{
    font-size: 12pt;
    color: #fff;
}

.hire-wrap {
    text-align: center;
    /*margin-top: 20px;*/
    /*margin-bottom: 60px;*/
    background-color: #e1f4fe;
    padding: 10px;
    bottom: 0;

}
.hire-scanner{
    text-align: left;
}
.hire-pic{
    display: inline-block;
    /*margin: 20px 0 0 20px;*/
    width: 100px;
    vertical-align: top;
}
.hire-pic img{
    width: 100%;
}
.hire-desc{
    display: inline-block;
    width: 50%;
    margin-left: 20px;
}

.hire-text {
    color: #22afff;
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    /*text-shadow: 0 0 1px #3375c5;*/
    display: inline-block;
    vertical-align: middle
}
.hire-btn {
    color: #2c6abe;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 30px;
    padding: 0 8px;
    /*background: #ffff00;*/
    border: 1px solid #2c6abe;
    border-radius: 5px;
    background-clip: padding-box;
    line-height: 30px;
}
.bottom-btn-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 0;
    max-width: 500px;
}
.login-btn-wrap {
    margin: 20px 0
}
.login-btn {
    outline: none;
    display: inline-block;
    padding: 5px 0;
    width: 60%;
    border-radius: 10px;
    background: url("../images/btn-bottom.png") no-repeat bottom center #5ad534;
    background-size: contain;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 1px #45bb20;
    cursor: pointer;
    overflow: hidden;
    background-clip: padding-box;
}
/*@media screen and (max-width: 500px) {*/

.level {
    width: 100px;
}
.map .level-wrap {
    display: block;
    width: 400px;
    margin: 0 auto;
}
.map-img {
    width: 100%;
}
.level img {
    width: 82px;
    height: 82px;
}
.level .desc {
    position: absolute;
    top: 50px;
    /*height: 32px;line-height: 32px*/
}
.desc span {
    color: #fff;
    line-height: 42px;
    height: 35px;
    display: inline-block;
    vertical-align: bottom;
}
.level .rule {
    position: absolute;
    top: 92px;
    width: 135px;
    margin-left: -10px;
    color: #43423d;
    line-height: 15px;
    font-size: 8pt;
}
/*.level .r7 {
    margin-left: 0px;
    width: 160px;
}*/

.score span {
    margin-left: 45px;
    margin-top: 3px;
}
.going span {} .coming span {} .level1 {
    top: 118px;
    left: 55px;
}
.level2 {
    top: 177px;
    left: 241px;
}
.level3 {
    top: 266px;
    left: 28px;
}
.level4 {
    top: 327px;
    left: 242px;
}
.level5 {
    top: 441px;
    left: 56px;
}
.level6 {
    top: 469px;
    left: 262px;
}
.level7 {
    top: 592px;
    left: 148px;
}
.level .score {
    width: 100px
}
.level .going {
    width: 110px
}
.level .coming {
    width: 160px
}
.more-btn-wrap img {
    position: absolute;
    top: 9px;
    left: 317px;
    width: 22px;
}
.gamemap {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    background-clip: padding-box;
}
.gamemap h4 {}
/*}*/

@media screen and (max-width: 400px) {
    .level {
        width: 100px;
    }
    .map .level-wrap {
        display: block;
        width: 320px;
        margin: 0 auto;
    }
    .map-img {
        width: 100%;
    }
    .level img {
        width: 67px;
        height: 67px;
    }
    .level .desc {
        position: absolute;
        top: 40px;
        /*height: 27px;line-height: 27px*/
    }
    .desc span {
        color: #fff;
        line-height: 27px;
        height: 27px;
        display: inline-block;
        vertical-align: bottom;
    }
    .level .rule {
        position: absolute;
        top: 72px;
        width: 135px;
        margin-left: -10px;
        color: #43423d;
        line-height: 15px;
        font-size: 8pt;
    }
    /* .level .r7 {
        margin-left: 0px;
        width: 170px;
    }*/
    
    .level .score {
        width: 105px;
        height: 30px
    }
    .level .going {
        width: 110px
    }
    .level .coming {
        width: 160px
    }
    .score span {
        margin-left: 42px;
        margin-top: 3px;
        line-height: 33px;
    }
    .going span {} .coming span {} .level1 {
        top: 94px;
        left: 34px;
    }
    .level2 {
        top: 143px;
        left: 184px;
    }
    .level3 {
        top: 212px;
        left: 12px;
    }
    .level4 {
        top: 260px;
        left: 184px;
    }
    .level5 {
        top: 351px;
        left: 35px;
    }
    .level6 {
        top: 375px;
        left: 200px;
    }
    .level7 {
        top: 474px;
        left: 107px;
    }
    .rank-name {
        max-width: 150px;
    }
    .more-btn-wrap img {
        position: absolute;
        top: 9px;
        left: 240px;
        width: 22px;
    }
}
@media screen and (max-width: 320px) {
    .level {
        width: 100px;
    }
    .map .level-wrap {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    .map-img {
        width: 100%;
    }
    .level img {
        width: 64px;
        height: 64px;
    }
    .level .desc {
        position: absolute;
        height: 27px;
        top: 40px;
        line-height: 27px
    }
    .desc span {
        color: #fff;
        line-height: 27px;
        height: 27px
    }
    .level .rule {
        position: absolute;
        top: 70px;
        width: 135px;
        margin-left: -10px;
        color: #43423d;
        line-height: 15px;
        font-size: 8pt;
    }
    /*.level .r7 {
        margin-left: 15px;
        width: 160px;
    }*/
    
    .level .score {
        width: 100px
    }
    .level .going {
        width: 110px
    }
    .level .coming {
        width: 160px
    }
    .score span {} .going span {} .coming span {} .level1 {
        top: 88px;
        left: 31px;
    }
    .level2 {
        top: 132px;
        left: 172px;
    }
    .level3 {
        top: 199px;
        left: 8px;
    }
    .level4 {
        top: 243px;
        left: 169px;
    }
    .level5 {
        top: 333px;
        left: 32px;
    }
    .level6 {
        top: 356px;
        left: 186px;
    }
    .level7 {
        top: 446px;
        left: 97px;
    }
    .rank-name {
        max-width: 125px;
    }
    .more-btn-wrap img {
        position: absolute;
        top: 9px;
        left: 216px;
        width: 22px;
    }
}
@media screen and (max-width: 290px) {
    .game-page-footer {
        display: none !important;
    }
    .rank-name {
        max-width: 100px;
    }
}


/*reward*/
#gamereward {
    display: none;
    position: relative;
    overflow: hidden;
}
#gamereward .close {
    position: fixed;
    top: 5px;
    right: 10px;
}
.reward-info {
    position: absolute;
    width: 100%;
    top: 50%
}
.reward-info {
    font-weight: bold
}
.submit-btn {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    padding: 5px 0;
    width: 40%;
    border-radius: 10px;
    /*background: url("images/btn-bottom-unable.png") no-repeat bottom center #b6b6b6;*/
    background: #b6b6b6;
    background-size: contain;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 1px #000;
    overflow: hidden;
    background-clip: padding-box;
}
.submit-btn-able {
    /*background: url("images/btn-bottom.png") no-repeat bottom center #5ad534;*/
    background: #5ad534;
    background-size: contain;
    text-shadow: 0 0 1px #45bb20;
    cursor: pointer;
    overflow: hidden;
    background-clip: padding-box;
}
.submit-success-wrap {
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}
.submit-success-wrap-show {
    opacity: 1;
    left: 0;
}
.submit-wrap {
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.submit-wrap-hide {
    opacity: 0
}
.role-list {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.role-list li {
    margin-top: 15px;
}
.role-list-hide {
    height: 0;
    overflow: hidden;
}
.show-role {
    color: #0088cc;
    cursor: pointer;
    border-bottom: 1px solid #0088cc;
}
.reward-text-wrap {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}
.banner-wrap img, .reward-text-wrap img {
    display: block;
    width: 100%
}
.reward-wrap {
    background: #fff;
    width: 94%;
    margin: 0 auto;
}
.reward-content-top img, .reward-content-btm img {
    width: 100%;
    display: block
}
.submit-title {
    margin: 20px auto;
    width: 80%
}
.submit-title h4 {
    font-size: 1.1em;
    font-weight: 100
}
.submit-title h5 {
    font-weight: 100;
    text-align: left;
}
.uid {
    font-size: 1.4em;
    margin-top: 20px
}
.u-rank {
    color: #ff8400;
    text-align: center;
    margin-top: 10px;
}
.r-c-f {
    font-size: 2em;
    font-weight: bold
}
.r-c-s {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px
}
.r-c-f, .r-c-s {
    color: #fff000;
    text-shadow: 0 0 3px #000;
}
.info-item-wrap {
    width: 80%;
    margin: 10px auto
}
/*.info-item-wrap span {*/
/*display: inline-block*/
/*}*/

.info-label {
    display: none;
}
.info-item {
    width: 75%
}
.info-item input {
    width: 95%;
    background: #f3f3f3;
    border: 1px solid #999;
    padding: 10px 0;
    border-radius: 5px;
    padding-left: 10px
}
.accept-wrap {
    width: 78%;
    margin: 10px auto;
    text-align: left
}
.accept-wrap-hide {
    display: none;
}
.accept {
    display: inline-block;
    vertical-align: 1px
}
/*.hire-wrap a {
    text-decoration: none;
}
.hire-wrap {
    text-align: center;
    margin-top: 20px;
}
.hire-text {
    color: #ffff00;
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    text-shadow: 0 0 1px #3375c5;
    display: inline-block;
    vertical-align: middle
}
.hire-btn {
    color: #2c6abe;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 30px;
    padding: 0 8px;
    background: #ffff00;
    border: 1px solid #2c6abe;
    border-radius: 5px;
    background-clip: padding-box;
    line-height: 30px;
}*/
@media screen and (min-width: 500px) {} @media screen and (max-width: 350px) {} @media screen and (max-width: 290px) {}


/*next event notice*/
.notice{
    width:100%;
    background: red;
    text-align: left;
}
.notice .title{
    color: #fff;
    display: inline-block;
    font-size: 16pt;
    line-height: 30px;
    margin: 20px 20px 20px 20px;
    text-align: left;
}

.profile{
    background: #67C2F6;
     margin: 0 auto;
    background-clip: padding-box;
    text-align: center;
    padding: 10px 20px;
}
.profile hr{border-top: 1px dotted black;}
.profile-icon{display: inline-block;}
.profile-name{
    margin-left: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.profile-name .intro{
    display: block;
    font-size: 12pt;
    line-height: 30px;
    font-weight: bold;
}
.profile-name .name{
    font-size: 10pt;
    color: #FFFA77;
}
.profile-name .score{
    display: block;
    font-size: 9pt;
    vertical-align: top;
    display: inline-block;
}
.profile-login{
    margin: 0 auto;
    line-height: 20px;
    width: auto;
    font-size: 9pt;
    text-align: center;
    padding: 0 10px;
    float: right;
}
.profile hr{width: 100%; border:0; border-top: 1px solid #ffffff;}

.invitationCode-wrap{
    /*background: #67c2f6;*/
    /*background: rgba(255, 255, 255, 0.9);*/
    margin: 0 auto;
    padding: 10px 0;
    background-clip: padding-box;
    text-align: center;
    padding: 10px 20px;
    overflow: hidden;
    transition: all 1s;
    border: 2px dotted blue;
    border-radius: 10px;
    background-clip: border-box;
    margin: 15px;
}
.invitationCode{    }
.invitationCode-reminder{padding: 10px; text-align: left; }
.invitationCode span{margin: 10px ;}
.invitationCode input {
    width: auto;
    background: #f3f3f3;
    border: 1px solid #999;
    padding: 10px 0;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
}

.invitationCode-wrap .btn{
    display: inline-block;
    width: auto;
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin-left: 20px;
}

.modal-wrap{
    color: white;
    line-height: 30px;
    position: fixed;
    left: 50%;
    bottom: 20%;
    right: 0;
    width:200px;
    height: 30px;
    background: #000;
    opacity: 0.6;
    margin-left: -100px;
}

.hide{display: none;}
.invitation-error {padding: 0 10px}